# Torch and its dependencies with specific versions
torch==2.1.1+cu118
torchvision==0.16.1+cu118
torchaudio==2.1.1+cu118
-f https://download.pytorch.org/whl/cu118

# Additional required packages with specific versions
mamba-ssm==1.2.0.post1

# General dependencies with versions or constraints
pandas
numpy<2
scikit-learn
matplotlib
einops
tqdm
